.form{
    background-color: white;
    margin: 10px 5px;
    display: flex;
    flex-wrap: wrap;
    height: calc(100vh - 137px)
}

.label{
    width: 50%;
}

.inputDate{
    border: none;
    border-bottom: 1px solid gray;
}

.submit{
    height: 30px;
}